<h1>Corsairs#edit</h1>
<h1>Edit Corsair</h1>
 
<%= form_for(@corsair) do |f| %>
 
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>
 
  <p>
    <%= f.label :age %><br>
    <%= f.text_area :age %>
  </p>
 
  <p>
    <%= f.submit "Sauvegarder les changements", class: "btn btn-primary"%>
    <%= f.submit "Supprimer", class: "btn btn-primary"%>
  </p>
 
<% end %>