
<h1>Inscris-toi</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

      <%= form_for(@corsair) do |f| %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>

      <%= f.label :age %>
      <%= f.text_field :age, class: 'form-control' %>

    <p><%= f.radio_button(:likeness, "Kebab") %>T'es plutôt Kebab?</p>
  	<p><%= f.radio_button(:likeness, "Hummus") %>ou bien Hummus?</p>

      <%= f.submit "créer le profil", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>